@font-face {
    font-family: Gilroy-Bold;
    src: url("../fonts/gilroy-bold.ttf") format("ttf"),
        url("../fonts/gilroy-bold.woff") format("woff"),
        url("../fonts/gilroy-bold.woff2") format("woff2"),
        url("../fonts/gilroy-bold.eot") format("eot");
}
@font-face {
    font-family: Gilroy-Medium;
    src: url("../fonts/gilroy-medium.ttf") format("ttf"),
        url("../fonts/gilroy-medium.woff") format("woff"),
        url("../fonts/gilroy-medium.woff2") format("woff2"),
        url("../fonts/gilroy-medium.eot") format("eot");
}

* {margin:0; padding:0}

.navigation {
    border-bottom: 1px solid #828282;
}

.navigation ul {
    display:flex;
    justify-content: space-between;
    padding: 30px 0px;
}

.navigation ul li {
    list-style-type: none;
    font-family: Gilroy-Bold;
    color: #828282;
}

.navigation ul li:hover {
    color: black;
    cursor: pointer;
}

.navigation ul li:first-child {
    color: black;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.top_content {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding: 40px 0;
}

.top_content__name {
    width: 123px;
    font-size: 47px;
    font-family: Gilroy-Bold;
    margin: 0px;
}

.top_content__description {
    font-size: 18px;
    font-family: Gilroy-Medium;
    margin: 0px;
}

.lang {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Gilroy-Bold;
    font-size: 16px;
    writing-mode: vertical-rl;
    transform:rotate(180deg);
}

#ru  {
    text-decoration: none;
    color: #828282;
}

#en  {
    color: black;
    text-decoration: none;
}

.top_image {
    background-image: url("../images/pic1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 387px;
    margin-bottom: 80px;
}

.about {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    padding: 110px 0;
}

.section_name {
    font-family: Gilroy-Bold;
    font-size: 34px;
    text-align: center;
    margin: 0px;
}

.about_text {
    width: 485px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about_text p {
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    margin-top: 40px;
}

.skills {
    padding: 110px 0;
}

.skills__title {
    text-align: center;
    font-size: 18px;
    font-family: Gilroy-Medium;
    margin-top: 40px;
}

.skills__programs {
    display: flex;
    justify-content: space-between;
}

.programs__program {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}

.program__name {
    font-size: 14px;
    font-family: Gilroy-Bold;
    color: #828282;
    line-height: 17px;
    width: 80px;
    text-align: center;
    padding: 20px 0;
}

.program__stars {
    display:flex;
    justify-content: space-between;
    width: 135px;
}

.portfolio {
    background: #F6F6F6;
    padding-top: 112px;
}

.portfolio .section_name {
    margin-bottom: 47px;
}

.portfolio__works {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 99px;
}

.portfolio__works img {
    width: 100%;
}

.portfolio__works a {
    font-size: 18px;
    font-family: Gilroy-Medium;
    color: black;
    margin-top: 44px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 100px;
    padding-top: 70px;
}

.contact_content {
    padding: 0px;
}

.contact_content__text {
    font-size: 18px;
    font-family: Gilroy-Medium;
    text-align: center;
    padding: 35px 0;
}

.contact_content__message {
    background-color: black;
    color: white;
    font-family: Gilroy-Bold;
    font-size: 18px;
    border-radius: 50px;
    width: 180px;
    height: 42px;
    border: 0px;
    cursor: pointer;
}

.contact_content__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 342px;
    margin-top: 80px;
    cursor: pointer;
}

.contact_content__links {
    font-size: 14px;
    color: #828282;
    font-family: Gilroy-Medium;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
}
